@model WebApplication2.Models.MergeCustomer
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <h3 class="card-header text-center bg-primary text-white">
        @ViewData["ListTitle"]
    </h3>
</div>
<div class="card mb-3 mt-2">
    <h5 class="card-header text-center">
        <input type="button" value="Add Customer" class="btn btn-primary shadow" onclick="AddCustomer()" />
    </h5>
</div>
@if (Model.Customer.CustomerId == Guid.Empty)
{
    <div id="_Create">
        <partial name="_Create" model="Model.Customer" />

    </div>
}
else
{
    <div id="_Create">
        <partial name="_Create" model="Model.Customer" />

    </div>
}
<div id="ListCustomers">
    <partial name="_ListCustomers" model="Model.ListCustomers" />
</div>

<script type="text/javascript">
    if ('@Model.Customer.Name' !== '@null') {
        setTimeout(function () {
            AddCustomer();
        }, 500);
    }
    function AddCustomer() {
        var customer = {
            CustomerId: "@Model.Customer.CustomerId",
            Name: "@Model.Customer.Name",
            Age: "@Model.Customer.Age",
            PostCode: "@Model.Customer.PostCode",
            Height: "@Model.Customer.Height",
        }
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Create","Customers")',
            data: customer,
            success: function (response) {
                $('#_Create').html(response);
                $('#_Create').show();
                $("#CustomerModel").modal('show');
            }
        }

        )
    }


</script>